[Desktop Entry]
Encoding=UTF-8
Name=FtpCube
Comment=FtpCube FTP client
Comment[pl]=FtpCube, klient FTP
Exec=ftpcube
Icon=ftpcube
Terminal=false
Type=Application
Categories=Network;FileTransfer;
# vi: encoding=utf-8
